@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
  --c-primary:#000;
  --c-primary-light:#333;
  --c-secondary:#cbcaca;
  --c-white:#fff;

  --fw-300:300;
  --fw-400:400;
  --fw-500:500;
  --fw-600:600;
}

body{font:400 15px 'Georama', sans-serif; background: #d5d5de;}

/* COMMON CSS START */
.w-100{width: 100px;}
.cp{cursor: pointer;}
a:hover{color: var(--c-primary);}
.dot{width: 6px; height: 6px; background: var(--c-secondary); border-radius: 20px; display: block;}
.chips_success{padding: 4px 16px; background: #e6f6f5; display: inline-block; font-size: 12px; color: #61b7b9; font-weight: var(--fw-600);}
.chips_success.chips_success--pending{background: #fff0e3; color: #f3b177;}
.animateX{transition: all 0.7s ease;}.animateX:hover{transition: all 0.3s ease; transform: translateX(10px);}
.lw{color: #b3b1b1; font-size: 12px;}
#myChart{width: 100%!important; margin-top: 5px; height: 130px!important;}
#myChartline{width: 100%!important; height: 100px!important;}
.btn_details {color: #a5a5a5; border: 2px solid #e7e4e4; font-size: 13px; border-radius: 8px; padding: 2px 11px; font-weight: var(--fw-500);}
/* COMMON CSS END */

/* ASIDE CODE START */
aside{background: var(--c-white); z-index: 99; height: calc(100vh - 30px); position: fixed; left: 15px; top: 15px; width:300px; -webkit-border-radius: 25px 0 0 25px; -moz-border-radius: 25px 0 0 25px; border-radius: 25px 0 0 25px; border-right: 1px solid #efefef; display: flex; flex-direction: column; align-items: start; justify-content: space-between; overflow-y: auto; overflow-x: hidden; padding: 40px 5px 40px 50px;}
.mainNavigation__top__logo{font-weight: var(--fw-600); font-size: 20px; display: flex; align-items: center; text-decoration: none; color: var(--c-black); text-decoration: none!important;}
.mainNavigation__top{width: 90%;}
.mainNavigation__top__logo__color{color: #5ac0c2; margin-right: 7px; font-size: 30px;}
.mainNavigation__top__mainMenu{margin-top: 34px;}
.mainNavigation__top__mainMenu__title{text-transform: uppercase; color: var(--c-secondary); font-size: 14px; font-weight: var(--fw-500);}
.mainNavigation__top__mainMenu__items .nav-link{color: #898989; font-weight: var(--fw-500); display: flex; align-items: center; margin-bottom:10px; transition: all 0.6s ease;}
.mainNavigation__top__mainMenu__items .nav-link:hover{transition: all 0.3s ease; transform: translateX(10px); color: var(--c-primary); font-weight: var(--fw-600); background: #f3f4fd; border-radius: 5px;}
.mainNavigation__top__mainMenu__items .nav-link.active{background: #f3f4fd; border-radius: 5px; font-weight: var(--fw-600); color: var(--c-primary);}
.mainNavigation__top__mainMenu__items--navTwo .nav-link{display: flex; align-items: center; color: #898989; font-weight: var(--fw-500);}
.mainNavigation__top__mainMenu__items--navTwo .nav-link:hover{color:#585757;}
.mainNavigation__top__mainMenu__items--navThree .nav-link{color: var(--c-secondary);}
/* ASIDE CODE END */

/* MAIN CODE START */
main{background: #f5f4f7; height: calc(100vh - 30px); overflow-y: auto; overflow-x: hidden; padding: 30px 50px 0; margin-top: 15px; margin-left: 300px; margin-right: 15px; -webkit-border-radius: 0 25px 25px 0; -moz-border-radius: 0 25px 25px 0; border-radius: 0 25px 25px 0;}
header{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.analytics{display: flex; justify-content: space-between;}
.analytics__title{font-size: 32px; color: var(--c-primary); font-weight: var(--fw-600); color: var(--c-primary-light); margin: 0 50px 0 0;}
.graphicInfo__teamPayment{display: flex; flex-direction: column; justify-content: space-between;}
.graphicInfo__teamPayment__date{font-weight: 500; display: flex; align-items: center; font-size: 12px;}
.graphicInfo__teamPayment__users{display: flex;}
.graphicInfo__teamPayment__users li{border-radius: 75%; width: 40px; height: 40px; margin-left: -6px;}
.graphicInfo__teamPayment__users li:first-child img{border-color: #f5f4f7;}
.graphicInfo__teamPayment__users li:last-child{background: var(--c-white); font-size: 10px; font-weight: 600; display: flex; align-items: center; justify-content: center;}
.graphicInfo__teamPayment__users li img{border: 2px solid var(--c-white);}
.graphicInfo__saving_waveImg{width: 100%; height: 50%;}
.graphicInfo__saving__goBtn{width: 44px; padding: 5px; font-size: 18px; margin-top: -8px; text-align: center; background: var(--c-primary);}
.graphicInfo__bestPlane .card{border-radius: 30px; width: 100%; position: absolute; left: -25px; top: 20px; border: 0;}
.graphicInfo__bestPlane__header{background:#2db1b6 url(../images/bes-bg.jpg) repeat-y 0 0; border-radius: 30px 30px 0 0!important;}
.graphicInfo__bestPlane__header__price{font-size: 32px; font-weight: var(--fw-600); color: var(--c-white);}
.graphicInfo__bestPlane__header__month{font-size: 12px; color: white;}
.graphicInfo__bestPlane__header__bestPlane{font-size: 18px; color: #e3f6f7; margin-top: 50px; font-weight: var(--fw-500); max-width: 73%;}
.graphicInfo__bestPlane__header__details{font-size: 12px; color: var(--c-primary-light); font-weight: var(--fw-500);}
.graphicInfo__bestPlane__header__upgrade{background: var(--c-primary); color: var(--c-white); font-size: 13px; font-weight: 500;}
.graphicInfo__bestPlane__header__upgrade:hover{color: var(--c-white);}

.analytics__tabs{background: #eae9ee; border-radius: 20px; border: 1px solid #dfdfdf; padding: 2px;}
.analytics__tabs .nav-link{color:#898989; border-radius: 20px; padding: 4px 30px; font-size: 13px; font-weight: var(--fw-600); transition: all 0.5s ease;}
.analytics__tabs .nav-link.active{background: var(--c-white); color: var(--c-primary);}
.profile .dropdown-menu,.recentlyPayment__more .dropdown-menu{border-color: #edecec; padding: 0; }
.profile .dropdown-item,.recentlyPayment__more .dropdown-item{ padding: 10px 20px; display: flex; font-size: 15px; transition: all 0.7s ease;}
.profile .dropdown-item:hover,.recentlyPayment__more .dropdown-item:hover{transition: all 0.3s ease;}
.profile .dropdown-item:focus,.recentlyPayment__more .dropdown-item:focus{ background: var(--c-secondary);}
.profile__addmore{border: 1px solid #e5e5e7; border-radius: 15px; padding:8px 10px;}
.profile__addmore span{color: var(--c-primary);}

.graphicInfo{display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap;}
.graphicInfo__child{width: 23%; height: auto; padding: 24px; border: 2px dashed #dfdde1; border-radius: 30px;  margin-bottom: 20px; transition: all 0.7s ease;}
.graphicInfo__child:hover{ transition: all 0.3s ease-in-out; transform: scale(1.03);}
.graphicInfo__child:last-child{ margin-left: 2%;}
.graphicInfo__teamPayment__title{font-size: 22px; display: flex; font-weight: var(--fw-600); align-items: start; justify-content: space-between;}
.recentlyPayment__box{border-radius: 20px; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap; padding: 2px; transition: all 0.7s ease-in;}
.recentlyPayment__box:hover{box-shadow: 0 2px 15px 5px var(--c-secondary); transition: all 0.3s ease-in-out;}
.recentlyPayment__box > div{margin:10px 20px 10px 10px;}
.recentlyPayment{margin-top: 40px;}
.bar__charts{width: 100%; height: 155px; object-fit: contain;}
.recentlyPayment__title{font-size: 20px; font-weight: var(--fw-600);}
.recentlyPayment__profilePic{width: 40px; height: 40px; border-radius: 14px; border: 1px solid rgb(228, 225, 225);}
.recentlyPayment__username{font-size: 13px; font-weight: var(--fw-600); color: var(--c-primary-light);}
.recentlyPayment__date{font-size: 12px; font-weight: var(--fw-500); color:#aaa9a9 ;}
.recentlyPayment__cost{font-weight: var(--fw-600); color: var(--c-primary-light); font-size: 14px;}
.recentlyPayment__more span{color: var(--c-secondary);}
.recentlyPayment__dateTime{white-space: nowrap;}

.transaction{background: var(--c-white); padding: 30px 40px; min-height: 300px; border-radius: 25px 25px 0 0;}
.transaction__searchPanel{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; border-bottom: 2px solid #f9f5f5;}
.transaction__inputGroup{width: 200px;}
.transaction__formControl,.transaction__formControl:focus,.transaction__search{background: #f5f4f7;}
.transaction__search{color: #dededf;}
.transaction__dataPanel__chips{max-width: 78px;}
.transaction__dataPanel .table td, .table th{vertical-align: middle; border-color: #f3f3f3;}
.transaction__dataPanel .media-body{width: 100px;}
.transaction__dataPanel .table th{color: #b3b1b1; font-weight: var(--fw-500);}
.transaction__dataPanel .table td{color: #605e5e; font-weight: var(--fw-500);}
.transaction__dataPanel__checkbox .custom-control-label::before{border:2px solid #d3d7db;}

#humbergerMenu{cursor: pointer; padding: 8px; background: #fd9b3d; border-radius: 6px;}
.humbergerMenuClass{width: 300px; padding: 40px 5px 40px 50px;}
.DeviceNav{display: flex; align-items: center; justify-content: space-between;}
.DeviceNav span{font-size: 30px;}
/* MAIN CODE END */

/* MEDIA START */
@media screen and (max-width:1199.98px){
  .graphicInfo__child{width: 48%;}
  .analytics__title{margin: 0 20px 0 0;}
  #myChart,#myChartline{height: auto!important;}

 }

@media screen and (max-width:991.98px){
  .graphicInfo__child{width: auto; flex: 1 1 280px; margin: 5px;}
  .graphicInfo__bestPlane .card{position: static;}
  .graphicInfo__child:last-child{margin-left: 0; border-color: transparent;}
  aside{width: 0; padding: 0; border-right: 0;}
  main{margin-left: 15px; border-radius: 25px;}
  .analytics{flex-direction: column;}  
  .humbergerMenuClass{width: 280px; padding: 40px 5px 40px 20px;}
}

@media screen and (max-width:767.98px){
  main{padding: 20px;}
  .analytics__tabs{flex-wrap: nowrap;}
  .analytics__title{margin-right: 0;}
  .analytics__tabs .nav-link{padding: 4px 20px;} 
  header{background: var(--c-white); padding: 10px; border-radius: 10px; box-shadow: 0 5px 13px -1px #d1cece;}
}

@media screen and (max-width:480px){
  header{flex-direction: column;}
  .analytics{align-items: center; margin-bottom: 10px;} 
}
